<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/admin">관리자 페이지</a>
            <a class="navbar-brand hidden" href="/"><img src="" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <!-- 메인 메뉴 -->
                <h3 class="menu-title">메인 메뉴</h3>
                <li>
                    <a href="/admin/"> <i class="menu-icon fa fa-user"></i>관리자 페이지</a>
                    <a href="/"> <i class="menu-icon fa fa-users"></i>사용자 페이지</a>
                </li>
                <li>
                    <a href="/admin/edit"> <i class="menu-icon fa fa-th"></i>웹사이트 내용 수정</a>
                </li>
                <li>
                    <a href="/admin/application"> <i class="menu-icon fa fa-th"></i>돌봄 예약 현황</a>
                </li>
                <li>
                    <a href="/admin/advertisement"> <i class="menu-icon fa fa-th"></i>광고 팝업 관리</a>
                </li>
                <li>
                    <a href="/admin/section"> <i class="menu-icon fa fa-th"></i>무료체험 섹션 On/Off</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
