<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&display=swap" rel="stylesheet">

  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="/static/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css" />

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <title>Yaho</title>
</head>

<body>
  <!-- header start -->
  <header>
    <div class="header-wrap content">
      <div class="header-left">
        <h2>
          <a href="./index.html">
            <img src="/static/images/logo.png" alt="">
            <!-- bot119 -->
          </a>
        </h2>
      </div>
      <div class="header-right">
        <a class="korean" target="_blank" href="https://yaholab.imweb.me/">시작하기</a>
        <a class="english" target="_blank" href="https://yaholab.imweb.me/">Register</a>
        <a class="vietnamese" target="_blank" href="https://yaholab.imweb.me/">ĐĂNG KÝ</a>
      </div>
    </div>
  </header>
  <!-- header end -->


  <!-- language-controller -->
  <div class="language-controller">
    <a class="btn-korean" href="javascript:void(0)">
      <img src="/static/images/korea.png" alt="">
    </a>
    <a class="btn-english" href="javascript:void(0)">
      <img src="/static/images/english.png" alt="">
    </a>
    <a class="btn-vietnamese" href="javascript:void(0)">
      <img src="/static/images/vietnam.png" alt="">
    </a>
  </div>


  <!-- section.main start -->
  <section class="main content">
    <div class="main-mockup">
      <img src="/static/images/main-mockup.png" alt="">
    </div>
    <div class="main-text">
      <div>
        <h3 class="korean">우리 아이</h3>
        <h2 class="korean">안심하고 맡길 수 없을까?</h2>
        <h2 class="english">Find Trusted Playtutors <br>for Your Children</h2>
        <h2 class="vietnamese">Tìm gia sư chơi đáng tin <br>cậy cho con của bạn</h2>
      </div>
      <div class="main-bg">
        <img src="/static/images/1.png" alt="">
      </div>
    </div>
  </section>
  <!-- section.main end -->


  <!-- section.service start -->
  <section class="service content">
    <h2 class="page-title korean">
      야호는 믿을 수 있는 유아동 플레이튜터 매칭 서비스입니다.
    </h2>
    <h2 class="page-title english">
      YAHO, Your Trustworthy On-demand Childcare Partner
    </h2>
    <h2 class="page-title vietnamese">
      YAHO, Đối tác chăm sóc trẻ theo yêu cầu đáng tin cậy của bạn
    </h2>
    <div class="grid-3">
      <div class="column">
        <div class="circle-wrap">
          <img src="/static/images/team.png" alt="">
        </div>
        <div class="column-text">
          <p class="korean">검증된 튜터를
            엄격한 심사를 통해
            신원,경력 및 역량이
            검증된 야호랩 인증 돌보미!</p>
          <p class="english"><span class="bold">Vetted</span>
            All YAHO playtutors have completed
            5 steps of verification and
            childcare training sessions</p>
          <p class="vietnamese"><span class="bold">Đã qua xác minh và đào tạo bài bản</span>
            Tất cả các bạn gia sư của
            YAHO phải hoàn thành
            5 bước xác minh và tham gia
            các buổi đào tạo do YAHO cung cấp.</p>
        </div>
      </div>
      <div class="column">
        <div class="circle-wrap">
          <img src="/static/images/time.png" alt="">
        </div>
        <div class="column-text">
          <p class="korean">원하는 시간에
            돌봄이 필요한 시간을
            언제든지 지정해서
            24시간 내 매칭</p>
          <p class="english"><span class="bold">Flexible & Reliable</span>
            Parents select time and place.
            YAHO finds your playtutor
            within 24 hours.</p>
          <p class="vietnamese"><span class="bold">Linh hoạt & Tin cậy</span>
            Phụ huynh sẽ chọn thời gian và địa điểm.
            YAHO sẽ tìm bạn gia sư phù hợp với nhu cầu
            của bố mẹ trong vòng 24 giờ.</p>
        </div>
      </div>
      <div class="column">
        <div class="circle-wrap">
          <img src="/static/images/tutor.png" alt="">
        </div>
        <div class="column-text">
          <p class="korean">아이성격부터 부모님요청
            고려하여 놀이배움돌봄
            튜터 매칭</p>
          <p class="english"><span class="bold">Matched</span>
            Your kid is in safe hands
            playing and learning catered to him / her
            <p class="vietnamese"><span class="bold">Ghép đôi phù hợp</span>
              Con bạn được an toàn
              khi tham gia chơi và học</p>
        </div>
      </div>
    </div>
  </section>
  <!-- section.service end -->


  <!-- section.target start -->
  <section class="target content">
    <h2 class="page-title korean">
      ‘집콕 육아’, ‘돌봄 공백‘ 도움이 필요하시나요?
    </h2>
    <h2 class="page-title english">
      Helping Hands for Parents and Children
    </h2>
    <h2 class="page-title vietnamese">
      Đồng Hành cùng Bố Mẹ và Các Bé
    </h2>
    <div class="grid-3">
      <div class="column">
        <div class="circle-wrap">
          <img src="/static/images/workingmom.png" alt="">
        </div>
        <div class="column-text">
          <p class="korean">아이들의 방과후/방학
            도움이 필요한
            워킹맘</p>
          <p class="english"><span class="bold">Working Moms</span>
            Do not be afraid of after-school hours or school holidays no more.
            YAHO superheroes cover from checking homework to playground activities.
            visiting</p>
          <p class="vietnamese"><span class="bold">Những bà mẹ đi làm</span>
            Không còn đau đầu lo cho các bé sau giờ tan học hoặc trong ngày nghỉ lễ của trường nữa.
            Các siêu anh hùng YAHO sẵn sàng hỗ trợ từ việc kiểm tra bài tập về nhà
            đến các hoạt động tại sân chơi, cùng các bé đi đến khu vui chơi.</p>
        </div>
      </div>
      <div class="column">
        <div class="circle-wrap">
          <img src="/static/images/mom.png" alt="">
        </div>
        <div class="column-text">
          <p class="korean">핵가족화로 혼자 아이들을
            돌보고 계시며,
            가끔 나의 시간이
            필요한 육아맘</p>
          <p class="english"><span class="bold">Stay-at-Home Moms</span>
            Understanding you are just as busy
            and in need of some alone time,
            Let YAHO take care of your kids while you unwind</p>
          <p class="vietnamese"><span class="bold">Những bà mẹ nội trợ</span>
            Thấu hiểu sự bận rộn của các bà mẹ
            và cần không gian cho riêng mình,
            Hãy để YAHO chăm sóc tận tình cho con bạn trong lúc bạn thư giãn.</p>
        </div>
      </div>
      <div class="column">
        <div class="circle-wrap">
          <img src="/static/images/mom2.png" alt="">
        </div>
        <div class="column-text">
          <p class="korean">육아에 고생하는 아내를 위해
            쉽고 빠르게
            도움을 찾기를
            희망하는 아버님</p>
          <p class="english"><span class="bold">All Parents & Grandparents</span>
            YAHO is here
            to cover your last-minute childcare needs</p>
          <p class="vietnamese"><span class="bold">Những bậc phụ huynh và ông bà</span>
            YAHO luôn ở đây
            để đáp ứng nhu cầu chăm sóc trẻ, ngay cả vào “phút cuối” gấp gáp nhất.</p>
        </div>
      </div>
    </div>

    <a target="_blank" class="btn-help korean" href="https://yaholab.imweb.me/">도움이 필요해요!</a>
    <a target="_blank" class="btn-help english" href="https://yaholab.imweb.me/">SIGN ME UP!</a>
    <a target="_blank" class="btn-help vietnamese" href="https://yaholab.imweb.me/">ĐĂNG KÝ CHO TÔI!</a>
  </section>
  <!-- section.target end -->


  <!-- section.order start -->
  <section class="order">
    <h2 class="page-title korean">
      우리 아이와 꼭 맞는 플레이튜터는 어떻게 찾을 수 있나요?
    </h2>
    <h2 class="page-title english">
      5 Simple Steps to Bring More Calm into Your Home
    </h2>
    <h2 class="page-title vietnamese">
      5 Bước Đơn giản để Mang Đến Sự Bình Yên cho Ngôi Nhà của Bạn
    </h2>
    <div class="order-wrap">
      <div class="order-card" data-aos="fade-up" data-aos-duration="1000">
        <p class="order-number">1</p>
        <p class="order-content korean">
          원하는 돌봄 시간과
          <br>장소를 정해주세요
        </p>
        <p class="order-content english">
          Select date and time
        </p>
        <p class="order-content vietnamese">
          Chọn ngày và giờ
        </p>
      </div>
      <div class="order-card" data-aos="fade-up" data-aos-duration="1500">
        <p class="order-number">2</p>
        <p class="order-content korean">
          우리 아이와 원하시는
          <br>활동에 대해
          <br>자세히 적어주세요
        </p>
        <p class="order-content english">
          Tell us about your children and desired activities
        </p>
        <p class="order-content vietnamese">
          Cho chúng tôi biết về con bạn và các hoạt động mong muốn
        </p>
      </div>
      <div class="order-card" data-aos="fade-up" data-aos-duration="2000">
        <p class="order-number">3</p>
        <p class="order-content korean">
          신원과 역량 검증이
          <br>완료된 안전한 튜터를
          <br>추천드려요
        </p>
        <p class="order-content english">
          Choose your playtutors
          <br>(YAHO also provides recommendations)
        </p>
        <p class="order-content vietnamese">
          YAHO đề xuất những bạn
          <br>gia sư phù hợp
        </p>
      </div>
      <div class="order-card" data-aos="fade-up" data-aos-duration="2500">
        <p class="order-number">4</p>
        <p class="order-content korean">
          매칭된 플레이튜터가
          <br>요청시간에 우리아이를
          <br>방문하셔요
        </p>
        <p class="order-content english">
          Selected playtutor
          <br>visits your place
          <br>and have great time
        </p>
        <p class="order-content vietnamese">
          Gia sư được chọn sẽ
          <br>đến nhà và đảm bảo bé có thời
          <br>gian tuyệt vời
        </p>
      </div>
      <div class="order-card" data-aos="fade-up" data-aos-duration="2800">
        <p class="order-number">5</p>
        <p class="order-content korean">
          돌봄세션이 완료된 후
          <br>야호 노트를 통해
          <br>우리아이 모습을 확인하세요
        </p>
        <p class="order-content english">
          Parents can review
          <br>care sessions with YAHO notes
        </p>
        <p class="order-content vietnamese">
          Bố mẹ có thể xem lại buổi
          <br>học qua ghi chú của YAHO
        </p>
      </div>
    </div>
    </div>
  </section>
  <!-- section.order end -->


  <!-- section.verification start -->
  <section class="verification content">
    <div class="mockup-wrap" data-aos="fade-right" data-aos-duration="2000">
      <img src="/static/images/mockup3.png" alt="">
    </div>
    <div class="text-wrap">
      <h2 class="korean">야호가 확인했어요</h2>
      <h2 class="english">YAHO has checked</h2>
      <h2 class="vietnamese">YAHO đã xác minh</h2>
      <div class="verify-list">
        <p class="korean">• 신원 증명 서류 확인</p>
        <p class="korean">• 학력 및 경력 증명 서류 확인</p>
        <p class="korean">• 범죄 이력 조회 (예정)</p>
        <p class="korean">• MBTI 성격 검사</p>
        <p class="korean">• 대면면접</p>
        <p class="korean">• 돌봄교육 이수</p>
        <p class="korean">• 백신접종완료(2차)</p>

        <p class="english">• Identity Verification Documents</p>
        <p class="english">• Education Qualification</p>
        <p class="english">• Covid-19 Vaccination Record</p>
        <p class="english">• Clear Criminal Records (Soon)</p>

        <p class="vietnamese">• Hồ sơ Xác minh Danh tính</p>
        <p class="vietnamese">• Trình độ Giáo dục</p>
        <p class="vietnamese">• Hồ sơ tiêm chủng vaccine Covid 19</p>
        <p class="vietnamese">• Lý lịch Tư pháp (Không tiền án tiền sự) (Sớm ra mắt)</p>
      </div>

      <p class="verify-comment korean">
        좋은 돌봄의 기본은 믿고 맡길수 있는 돌봄입니다.
      </p>

      <h2 class="english">YAHO has conducted</h2>
      <h2 class="vietnamese">YAHO đã tiến hành</h2>
      <div class="verify-list english vietnamese">
        <p class="english">• MBTI personality test</p>
        <p class="english">• Face-to-face interviews</p>
        <p class="english">• Childcare training sessions</p>

        <p class="vietnamese">• Bài kiểm tra tính cách MBTI</p>
        <p class="vietnamese">• Phỏng vấn trực tiếp</p>
        <p class="vietnamese">• Các buổi đào tạo kiến thức chăm sóc trẻ</p>
      </div>
    </div>
  </section>
  <!-- section.verification end -->


  <!-- section.time start -->
  <section class="time verification content">
    <div class="text-wrap">
      <h2 class="korean">원하는 시간에</h2>
      <h2 class="english">ON-DEMAND SERVICE</h2>
      <h2 class="vietnamese">Dịch vụ theo yêu cầu</h2>
      <div class="verify-list">
        <p class="korean">종일/반일뿐 아니라
          적게는 두시간,
          탄력적으로 서비스를
          이용 가능하세요.</p>

        <p class="english">Take advantage of YAHO
          service by booking in advance
          for recurring childcare
          service or last minute as a
          backup plan</p>

        <p class="vietnamese">Tận dụng lợi ích của dịch vụ
          YAHO bằng cách đặt trước
          gói định kỳ theo tháng hoặc
          ngay cả vào “phút cuối” như
          một kế hoạch dự phòng</p>
      </div>

      <div class="verify-list">
        <p class="korean">자녀에게 쏟는 양육
          시간만큼 개인 시간도
          소중하니깐요</p>

        <p class="english">Improve
          your work-life balance</p>

        <p class="vietnamese">Cải thiện sự cân bằng giữa công
          việc và cuộc sống của bạn</p>
      </div>
    </div>

    <div class="mockup-wrap" data-aos="fade-left" data-aos-duration="2000">
      <img src="/static/images/mockup.png" alt="">
    </div>
  </section>
  <!-- section.time end -->


  <!-- section.matching start -->
  <section class="matching verification content">
    <div class="mockup-wrap" data-aos="fade-right" data-aos-duration="2000">
      <img src="/static/images/mockup2.png" alt="">
    </div>
    <div class="text-wrap">
      <h2 class="korean">놀이에서 배움까지 꼭 맞는 돌봄으로</h2>
      <h2 class="english">From Playground Activities
        <br>To Reading Books</h2>
      <h2 class="vietnamese">Dịch vụ theo yêu cầu</h2>
      <div class="verify-list">
        <p class="korean">대학생, 보육교사 출신 등
          다양한 경험과 자격을 갖춘 튜터를 통해
          놀이와 학습, 배움까지 가능해요.</p>

        <p class="english">YAHO playtutors are highly
          qualified Vietnamese
          university students and
          experienced caregivers.</p>

        <p class="vietnamese">Tận dụng lợi ích của dịch vụ
          YAHO bằng cách đặt trước
          gói định kỳ theo tháng hoặc
          ngay cả vào “phút cuối” như
          một kế hoạch dự phòng</p>
      </div>

      <div class="verify-list">
        <p class="korean">야호는 아이성향부터 부모님 요청사항
          그리고 튜터의 성격을 고려하여
          꼭 맞는 매칭을 해요.</p>

        <p class="english">From playing to learning,
          YAHO provides personalized care sessions

          #Boardgames #English #Arts&craft #Math #Socialskills
          #Homework #Playground
        </p>

        <p class="vietnamese">Cải thiện sự cân bằng giữa công
          việc và cuộc sống của bạn</p>
      </div>
    </div>
  </section>
  <!-- section.matching end -->


  <!-- section.price -->
  <section class="price content">
    <!-- <div class="bg-orange"></div> -->
    <h2 class="page-title korean">
      야호 돌봄 가격이 궁금해요!
    </h2>
    <h2 class="page-title english">
      PRICING
    </h2>
    <h2 class="page-title vietnamese">
      GIÁ DỊCH VỤ
    </h2>
    <div class="grid-3">
      <div class="column">
        <h2 class="korean">영어 놀이돌봄</h2>
        <h2 class="english">English<br>CARE SESSIONS</h2>
        <h2 class="vietnamese">BUỔI HỌC BẰNG<br>TIẾNG ANH</h2>

        <p class="price-text korean">
          <span>200,000</span> VND
          <br>Per Hour
        </p>
        <p class="price-text english">
          <span>200,000</span> VND
          <br>/kid
        </p>
        <p class="price-text vietnamese">
          <span>+100,000</span> VND
          <br>/Mỗi giờ
        </p>

        <a href="" class="btn-register korean">신청하기</a>
        <a href="" class="btn-register english">APPLY</a>
        <a href="" class="btn-register vietnamese">ĐĂNG KÝ</a>
      </div>
      <div class="column">
        <h2 class="korean">베트남어 놀이돌봄</h2>
        <h2 class="english">English<br>CARE SESSIONS</h2>
        <h2 class="vietnamese">BUỔI HỌC BẰNG<br>TIẾNG ANH</h2>

        <p class="price-text korean">
          <span>150,000</span> VND
          <br>Per Hour
        </p>
        <p class="price-text english">
          <span>150,000</span> VND
          <br>Per Hour
        </p>
        <p class="price-text vietnamese">
          <span>+100,000</span> VND
          <br>/Mỗi giờ
        </p>

        <a href="" class="btn-register korean">신청하기</a>
        <a href="" class="btn-register english">APPLY</a>
        <a href="" class="btn-register vietnamese">ĐĂNG KÝ</a>
      </div>
      <div class="column">
        <h2 class="korean">동네친구 놀이돌봄</h2>
        <h2 class="english">English<br>CARE SESSIONS</h2>
        <h2 class="vietnamese">BUỔI HỌC BẰNG<br>TIẾNG ANH</h2>

        <p class="price-text korean">
          <span>+100,000</span> VND
          <br>/kid
        </p>
        <p class="price-text english">
          <span>+100,000</span> VND
          <br>/kid
        </p>
        <p class="price-text vietnamese">
          <span>+100,000</span> VND
          <br>/trẻ
        </p>

        <a href="" class="btn-register korean">신청하기</a>
        <a href="" class="btn-register english">APPLY</a>
        <a href="" class="btn-register vietnamese">ĐĂNG KÝ</a>
      </div>
    </div>

    <div class="page-count"></div>

    <p class="price-comment korean">Minimum session :2 hour
      Monthly subscription: 15% discount
      동네친구 놀이돌봄 (최대 3명)</p>
    <p class="price-comment english">Note that YAHO applies
      2-hour minimum per each visit
      15% discount on the monthly service
      3-kid maximum for a small group session</p>
    <p class="price-comment vietnamese">Lưu ý rằng YAHO áp dụng
      Tối thiểu 2 giờ cho mỗi buổi học
      Giảm giá 15% cho gói đăng ký theo tháng
      Số lượng trẻ tối đa cho buổi học nhóm là 3</p>
  </section>
  <!-- section.price end -->


  <!-- section.count start -->
  <section class="count">
    <div class="grid-3">
      <div class="column">
        <div class="count-title">
          <p class="korean">튜터</p>
          <p class="english">PLAYTUTOR</p>
          <p class="vietnamese">GIA SƯ CHƠI</p>
        </div>
        <div class="circle-wrap">
          <h2 class="number">{{information.tutor}}</h2>
          <p class="korean">명</p>
        </div>
      </div>
      <div class="column">
        <div class="count-title">
          <p class="korean">돌봄활동시간</p>
          <p class="english">TOTAL HOURS</p>
          <p class="vietnamese">TỔNG SỐ GIỜ ĐÃ THỰC HIỆN</p>
        </div>
        <div class="circle-wrap">
          <h2 class="number">{{information.time}}</h2>
          <p class="korean">시간</p>
        </div>
      </div>
      <div class="column">
        <div class="count-title">
          <p class="korean">연장율</p>
          <p class="english">RETENTION RATE</p>
          <p class="vietnamese">TỶ LỆ GIỮ CHÂN KHÁCH</p>
        </div>
        <div class="circle-wrap">
          <h2 class="number">{{information.extend}}</h2>
          <p class="korean">%</p>
        </div>
      </div>
    </div>

    <p class="date korean">기준일 ({{information.date | date:'Y.m.d'}})</p>
    <p class="date english">As of 17th Dec 2021</p>
    <p class="date vietnamese">Kể từ ngày 17 tháng 12 năm 2021</p>
  </section>
  <!-- section.count end -->


  <!-- section.review -->
  <section class="review content">
    <h2 class="page-title korean">
      고객 리뷰
    </h2>
    <h2 class="page-title english">
      Parent Reviews
    </h2>
    <h2 class="page-title vietnamese">
      Phản Hồi Của Khách Hàng
    </h2>
    <div class="slide page-start">
      <div class="slide-card">
        <h3 class="korean">김OO 부모님</h3>
        <h3 class="english">KIM</h3>
        <h3 class="vietnamese">KIM</h3>
        <p class="korean">아이들 흐름에 맞춰 놀아주시고,
          간단한 만들기 재료도 준비해오셔서
          두시간 동안 꽉 채워 즐겁게 놀았습니다.
          감사합니다.
        </p>
        <p class="english">
          Following my child's lead in play,
          two full hours were filled with lots of laughs.
          The playtutor also prepared a simple craft activity,
          it was fun.
          Thank you.
        </p>
        <p class="vietnamese">
          Theo sự dẫn dắt của con tôi trong những trò chơi,
          hai giờ luôn tràn ngập tiếng cười.
          Bạn gia sư chơi cũng đã chuẩn bị một số hoạt động thủ công đơn giản,
          rất là vui.
          Cảm ơn bạn.
        </p>
      </div>
      <div class="slide-card">
        <h3 class="korean">박OO 부모님</h3>
        <h3 class="english">PARK</h3>
        <h3 class="vietnamese">PARK</h3>
        <p class="korean">저희아이는 선생님오시기전 부터 문밖에서 기다렸어요
          너무너무 좋아했어요
          선생님께서 색연필이랑 이것저것 준비해오셨어여
          영어 실력도 생각보다 좋으셔서
          색깔이나 숫자를 영어로 말해주시고 좋았습니다</p>
        <p class="english">My boy was waiting for the tutor to arrive
          outside and it was not disappointing!
          The playtutor brought color pens and all for some activities.
          Her English was very good,
          she has also taught few new words for my kid.</p>
        <p class="vietnamese">Con trai của tôi đã ở bên ngoài để đợi bạn gia sư đến và thằng bé đã không thất vọng!
          Bạn gia sư chơi mang theo bút màu và một số thứ khác phục vụ cho hoạt động.
          Tiếng Anh của cô ấy rất tốt,
          cô ấy cũng đã dạy vài từ mới cho con tôi</p>
      </div>
      <div class="slide-card">
        <h3 class="korean">김OO 부모님</h3>
        <h3 class="english">KIM</h3>
        <h3 class="vietnamese">KIM</h3>
        <p class="korean">이런 돌봄업체가 있어서 너무 든든하네요👍</p>
        <p class="english">So glad to have a childcare service as such👍</p>
        <p class="vietnamese">Rất vui khi có một dịch vụ chăm sóc trẻ như vậy 👍</p>
      </div>
      <div class="slide-card">
        <h3 class="korean">권OO 부모님</h3>
        <h3 class="english">KWON</h3>
        <h3 class="vietnamese">KWON</h3>
        <p class="korean">그리고 2시간 내내 밝게 웃어주시며 긍정적으로 반응해 주시는데..
          아이가 신이나서 목소리가 점점 커지더라구요.^^
          너무 신나고 즐거운 시간을 보냈습니다.
          다시 신청하고 싶은 마음이 저절로 들었어요.</p>
        <p class="english">The playtutor were smiling for the whole during and responding
          to my kid passionately.
          My child’s voice was getting louder
          from being more confident! ^^
          The session was very good.
          Ready for the next session.
        </p>
        <p class="vietnamese">Bạn gia sư chơi đã mỉm cười trong suốt thời gian buổi học và tương tác với con tôi một
          cách hang say.
          Giọng nói của con tôi ngày càng to rõ vì tự tin hơn! ^^

          Buổi học đã diễn ra rất tốt.
          Sẵn sàng cho buổi tiếp theo.</p>
      </div>
      <div class="slide-card">
        <h3 class="korean">이OO 부모님</h3>
        <h3 class="english">LEE</h3>
        <h3 class="vietnamese">LEE</h3>
        <p class="korean">아직 영어가 서툰아이임에도 선생님의 말에 끊임없이 영어로 소통하려고 노력하는 모습에 금방 영어도 늘겠다는 생각도 들었습니다.

          잠들기 전까지 이제 선생님이 언제오냐며 묻더니 아침에 일어나자마자 선생님을 찾네요.
          정기방문을 신청하기로 했습니다. ^^</p>
        <p class="english">My kid doesn’t speak English yet but the playtutor has
          continuously tried to expose the language for J.
          It got me thinking that my kid may get used to it soon.

          My boy asked when the playtutor would visit next
          and just now he has asked again.
          Applying for monthly visit!
        </p>
        <p class="vietnamese">Con tôi chưa nói được tiếng Anh nhưng bạn gia sư chơi đã liên tục cố gắng để khích lệ J.
          giao tiếp điều đó khiến tôi nghĩ rằng con tôi có thể sớm làm quen được.

          Cậu bé của tôi luôn hỏi khi nào bạn gia sư chơi sẽ đến tiếp và mới đây cậu ấy đã hỏi lại.
          Nên tôi quyết định đăng ký gói hàng tháng!</p>
      </div>
    </div>
  </section>


  <!-- section.comment start -->
  <section class="comment content">
    <h2 class="page-title korean">
      더 안심하실 수 있도록,
    </h2>
    <h2 class="page-title english">
      Rest Assured
    </h2>
    <h2 class="page-title vietnamese">
      Đảm bảo
    </h2>

    <div class="text-wrap">
      <p class="korean">YAHO 베트남 아이돌봄업계 최초 보험가입 (QBE 보험사)</p>
      <p class="english">YAHO is the first childcare service insured in Vietnam
        <br>(QBE Insurance, MARCH 2022)</p>
      <p class="vietnamese">YAHO là dịch vụ chăm sóc trẻ có bảo hiểm đầu tiên tại Việt Nam
        <br>(Bảo hiểm QBE, THÁNG 3/2022)</p>
    </div>

    <div class="text-wrap">
      <p class="korean">PUBLIC LIABILITY INSURANCE
        <br>최대 500,000 USD 보상
      </p>
      <p class="english">PUBLIC LIABILITY INSURANCE
        <br>Up to 500,000 USD</p>
      <p class="vietnamese">BẢO HIỂM TRÁCH NHIỆM CỘNG ĐỒNG
        <br>Lên đến 500,000 USD</p>
    </div>

    <div class="text-wrap">
      <p class="korean">PROFESSIONAL INDEMNITY INSURANCE
        <br>최대 500,000 USD 보상</p>
      <p class="english">PROFESSIONAL INDEMNITY INSURANCE
        <br>Up to 500,000 USD</p>
      <p class="vietnamese">BẢO HIỂM TRÁCH NHIỆM NGHỀ NGHIỆP
        <br>Lên đến 500,000 USD</p>
    </div>
  </section>
  <!-- section.comment end -->


  <!-- section.contact start -->
  <section class="contact">
    <h2 class="page-title korean">
      YAHO 돌봄서비스 1회 무료체험 신청하기
    </h2>
    <h2 class="page-title english">
      Book your FREE session
    </h2>
    <h2 class="page-title vietnamese">
      Đăng ký buổi học MIỄN PHÍ của bạn
    </h2>

    <form action="/create" method="post">
      {% csrf_token %}
      <div class="form-wrap">
        <div class="form-child">
          <h3 class="korean">우리 아이 정보 입력</h3>
          <h3 class="english">My Child</h3>
          <h3 class="vietnamese">Con tôi</h3>
          <div class="form-row">
            <h4 class="korean">생년월일</h4>
            <h4 class="english">DATE OF BIRTH</h4>
            <h4 class="vietnamese">NGÀY SINH</h4>
            <input name="baby_birthdate" type="date">
          </div>

          <div class="form-row korean">
            <h4 class="korean">이름</h4>
            <input name="baby_name_kor" type="text" placeholder="아이의 이름을 입력해주세요.">
          </div>
          <div class="form-row english">
            <h4 class="english">Name</h4>
            <input name="baby_name_eng" type="text" placeholder="Please type his/her full name">
          </div>
          <div class="form-row vietnamese">
            <h4 class="vietnamese">HỌ TÊN</h4>
            <input name="baby_name_vnm" type="text" placeholder="Điền tên của bạn">
          </div>

          <div class="form-row korean">
            <h4>선호돌봄타입</h4>
            <div class="form-row-flex">
              <div class="ck-button">
                <label>
                  <input type="radio" name="care_type_kor" id="care_type" value="Play & Learn" checked=""><span>Play
                    &Learn</span>
                </label>
              </div>
              <div class="ck-button">
                <label>
                  <input type="radio" name="care_type_kor" id="care_type" value="Play & Learn (English)"><span>Play &
                    Learn (English)</span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-row english">
            <h4>PREFERRED TYPE</h4>
            <div class="form-row-flex">
              <div class="ck-button">
                <label>
                  <input type="radio" name="care_type_eng" value="Play & Learn" checked="">
                  <span>
                    Play & Learn Care Sessions <br>(Vietnamese)
                  </span>
                </label>
              </div>
              <div class="ck-button">
                <label>
                  <input type="radio" name="care_type_eng" value="Play & Learn (English)">
                  <span>
                    Play & Learn Care Sessions <br>(English)
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-row vietnamese">
            <h4>LOẠI HÌNH ƯA THÍCH</h4>
            <div class="form-row-flex">
              <div class="ck-button">
                <label>
                  <input type="radio" name="care_type_vnm" value="Play & Learn" checked="">
                  <span>
                    Các buổi học & chơi
                    <br>(Tiếng Việt)
                  </span>
                </label>
              </div>
              <div class="ck-button">
                <label>
                  <input type="radio" name="care_type_vnm" value="Play & Learn (English)">
                  <span>
                    Các buổi học & chơi
                    <br>(Tiếng Anh)
                  </span>
                </label>
              </div>
            </div>
          </div>

          <div class="form-row korean">
            <p>※ 자녀 3명 신청시 3명 모두 무료체험 제공</p>
            <p>※ 기본 돌봄 2시간 제공</p>
            <p>※ 첫 사용자에 한함</p>
            <p>※ 프로모션 코드 입력 시 특별 혜택 제공</p>
          </div>
          <div class="form-row english">
            <p>※ Free session is valid for the your kid’s first session</p>
            <p>※ Each session lasts for 2 hours</p>
            <p>※ If you have three children, you receive 3 free sessions</p>
          </div>
          <div class="form-row vietnamese">
            <p>※ Buổi học miễn phí có giá trị cho phiên đầu tiên của con bạn</p>
            <p>※ Mỗi buổi học kéo dài trong 2 giờ</p>
            <p>※ Nếu bạn có ba trẻ, bạn sẽ nhận được 3 buổi học miễn phí</p>
          </div>
        </div>
        <div class="form-parent">
          <h3 class="korean">부모님 정보 입력</h3>
          <h3 class="english">Parents</h3>
          <h3 class="vietnamese">PHỤ HUYNH</h3>

          <div class="form-row korean">
            <h4 class="korean">이름</h4>
            <input name="parent_name_kor" type="text" placeholder="부모님의 이름을 입력해주세요.">
          </div>
          <div class="form-row english">
            <h4 class="english">Name</h4>
            <input name="parent_name_eng" type="text" placeholder="Please type his/her full name">
          </div>
          <div class="form-row vietnamese">
            <h4 class="vietnamese">HỌ TÊN</h4>
            <input name="parent_name_vnm" type="text" placeholder="Điền tên của bạn">
          </div>

          <div class="form-row korean">
            <h4>휴대전화번호</h4>
            <input name="phone_kor" type="text" placeholder="- 없이 숫자만 입력해주세요.">
          </div>
          <div class="form-row english">
            <h4>Mobile Number</h4>
            <input name="phone_eng" type="text" placeholder="Type Your Number">
          </div>
          <div class="form-row vietnamese">
            <h4>SỐ ĐIỆN THOẠI</h4>
            <input name="phone_vnm" type="text" placeholder="">
          </div>

          <div class="form-row korean">
            <h4>주소</h4>
            <input name="address_kor" type="text" placeholder="주소을 입력해주세요.">
          </div>
          <div class="form-row english">
            <h4>ADDRESS</h4>
            <input name="address_eng" type="text" placeholder="Type Your Address">
          </div>
          <div class="form-row vietnamese">
            <h4>ĐỊA CHỈ</h4>
            <input name="address_vnm" type="text" placeholder="">
          </div>

          <div class="form-row korean">
            <h4>프로모션 코드</h4>
            <input name="code_kor" type="text" placeholder="프로모션 코드 입력">
          </div>
          <div class="form-row english">
            <h4>HAVE A PROMOTION CODE?</h4>
            <input name="code_eng" type="text" placeholder="Enter Here">
          </div>
          <div class="form-row vietnamese">
            <h4>MÃ KHUYẾN MÃI?</h4>
            <input name="code_vnm" type="text" placeholder="Nhập vào đây">
          </div>

        </div>
      </div>
      <button class="btn-submit korean" type="">돌봄이 필요해요!</button>
      <button class="btn-submit english" type="">APPLY</button>
      <button class="btn-submit vietnamese" type="">ĐĂNG KÝ</button>
    </form>
  </section>
  <!-- section.contact end -->


  <!-- footer start -->
  <footer class="korean">
    <div class="footer-wrap">
      <div class="footer-info">
        <p><span>상호명</span> 주식회사 야호랩</p>
        <p><span>사업자등록번호</span> 450-88-0205</p>
        <p><span>대표자명</span>권영욱, 윤선희</p>
        <br>
        <p><span>KOREA</span> 인천시 연수구 송도미래로 30, F동 B101호(스마트밸리 지식산업센터)</p>
        <p><span>VIETNAM</span> 2 Đường Lê Văn Miến, Thảo Điền, Quận 2, Thành phố Hồ Chí Minh</p>
      </div>
      <div class="footer-info">
        <p><span>고객지원</span></p>
        <p><span>연중무휴(24/7)</span></p>
        <p><span>HOTLINE</span></p>
        <br>
        <p><span>KOREA</span> 070 8888 8287</p>
        <p><span>VIETNAM</span> (028) 73 046 262</p>
        <p><span>Email</span> hello@yaho.life</p>
        <br>
        <p>copyright© Yaho. All rights reserved</p>
      </div>
    </div>
  </footer>

  <footer class="english">
    <div class="footer-wrap">
      <div class="footer-info">
        <p><span>YAHO LAB COMPANY LIMITED</span></p>
        <p><span>Business Number</span> 450-88-0205</p>
        <p><span>CEO</span>권영욱, 윤선희</p>
        <br>
        <p><span>KOREA</span> SMART VALLEY B101 UNIT F, SONGDO MIRAERO 30 INCHEON, SOUTH KOREA</p>
        <p><span>VIETNAM</span> 2 Đường Lê Văn Miến, Thảo Điền, Quận 2, Thành phố Hồ Chí Minh</p>
      </div>
      <div class="footer-info">
        <p><span>CUSTOMER SERVICE</span></p>
        <br>
        <p><span>KOREA</span> 070 8888 8287</p>
        <p><span>VIETNAM</span> (028) 73 046 262</p>
        <p><span>Email</span> hello@yaho.life</p>
        <br>
        <p>copyright© Yaho. All rights reserved</p>
      </div>
    </div>
  </footer>

  <footer class="vietnamese">
    <div class="footer-wrap">
      <div class="footer-info">
        <p><span>YAHO LAB COMPANY LIMITED</span></p>
        <p><span>Business Number</span> 450-88-0205</p>
        <p><span>CEO</span>권영욱, 윤선희</p>
        <br>
        <p><span>HÀN QUỐC</span> SMART VALLEY B101 UNIT F, SONGDO MIRAERO 30 INCHEON, SOUTH KOREA</p>
        <p><span>VIETNAM</span> 2 Đường Lê Văn Miến, Thảo Điền, Quận 2, Thành phố Hồ Chí Minh</p>
      </div>
      <div class="footer-info">
        <p><span>DỊCH VỤ KHÁCH HÀNG</span></p>
        <br>
        <p><span>HÀN QUỐC</span> 070 8888 8287</p>
        <p><span>VIỆT NAM</span> (028) 73 046 262</p>
        <p><span>Email</span> hello@yaho.life</p>
        <br>
        <p>copyright© Yaho. All rights reserved</p>
      </div>
    </div>
  </footer>
  <!-- footer end -->


  <!-- JS -->
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script>
    $(function () {
      var windowWidth = window.matchMedia("screen and (max-width: 1200px)");
      if (windowWidth.matches) {
        $('.main-mockup').animate({
          'margin-bottom': '-100px',
          'opacity': '1'
        }, 1300);
      } else {
        $('.main-mockup').animate({
          'margin-bottom': '-300px',
          'opacity': '1'
        }, 1300);
      }
      $('.main-text h3').animate({
        'margin-right': '0px',
        'opacity': '1'
      }, 1800);
      $('.main-text h2').animate({
        'margin-right': '0px',
        'opacity': '1'
      }, 2000);
    });
  </script>

  <!-- AOS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <!-- slick -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/static/slick/slick.min.js"></script>

  <script>
    function count() {
      $('.number').each(function () {
        $(this)
          .prop('Counter', 0)
          .animate({
            Counter: $(this).text(),
          }, {
            duration: 4000,
            easing: 'linear',
            step: function (now) {
              $(this).text(Math.ceil(now));
            },
          });
      });
    }

    $(document).ready(function () {

      $('.slide').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        dots: true,
        autoplay: true,
        responsive: [{
            breakpoint: 1200,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 768, //화면 사이즈 768px
            settings: {
              //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
              slidesToShow: 1
            }
          }
        ]
      });

    });
  </script>

  <!-- language control -->
  <script>
    $('.btn-korean').click(function () {
      console.log('korean');
      $('.english').css("display", 'none');
      $('.vietnamese').css("display", 'none');
      $('.korean').css("display", 'block');
    });
    $('.btn-english').click(function () {
      console.log('english');
      $('.korean').css("display", 'none');
      $('.vietnamese').css("display", 'none');
      $('.english').css("display", 'block');
    });
    $('.btn-vietnamese').click(function () {
      console.log('vietnamese');
      $('.korean').css("display", 'none');
      $('.english').css("display", 'none');
      $('.vietnamese').css("display", 'block');
    });
  </script>

  <script>
    $(function () {
      var count_num = 0;

      var $wrap = $('.text-wrap');
      var $page = $('.page-start');
      var $window = $(window);
      var pageOffsetTop = $page.offset().top;
      var pageOffsetCount = $('.page-count').offset().top;

      $window.resize(function () {
        pageOffsetTop = $page.offset().top;
        pageOffsetCount = $('.page-count').offset().top;
      });

      $window.on('scroll', function () {
        var scrolled = $window.scrollTop() >= pageOffsetTop;
        $wrap.toggleClass('down', scrolled);

        var scrolled = $window.scrollTop() >= pageOffsetCount;
        if (scrolled) {
          if (count_num == 0) {
            count();
          }
          count_num = count_num + 1;
        }

      });
    });
  </script>
</body>

</html>